@model IEnumerable<QLKS.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KHÁCH HÀNG </h2>

<p>
    @Html.ActionLink("Tạo  mới ", "Create")
</p>
<table class="table">
    <tr>
        <th>
           <label>Mã Khách Hàng</label>
        </th>
        <th>
           <label>Tên Khách Hàng </label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CMCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhanLoaiKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaKH)
    </td>
    <td>
        @Html.Raw(item.HoTenKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CMCC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhanLoaiKH)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MaKH }) |
        @Html.ActionLink("Details", "Details", new { id = item.MaKH }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MaKH })
    </td>
</tr>
}

</table>
